*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 1400px;
  margin: 0 auto;
}

ul{
  list-style: none;
}

.design-info {
  display: flex;
}

img{
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf");
}
